/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
	background-color: #000;
  font-family: 'Amiri', serif;
  color: #e7c24c; 
}
hr {
  height: 1px;
  color: #e7c24c;
  background: #e7c24c;
  font-size: 0;
  border: 0;
}
a { 
  text-decoration: none; 
  cursor: pointer;
  color: #e7c24c;
}
a:hover { text-decoration: underline; }
a:visited { color: #e7c24c; }
.clear { clear: both; }

/*//NAVIGATION\\*/
.header { width: 260px; }
.header img { padding: 30px 0px 0px 30px; }

ul.nav {
  width: 204px;
  height: 860px;
  padding-right: 22px;
  margin-top: -15px;
  text-align: right;
  border-right: 4px solid #e7c24c;
  -webkit-border-image: 
    -webkit-gradient(linear, 0 0, 0 100%, from(#e7c24c), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image: 
    -webkit-linear-gradient(#e7c24c, rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image:
    -moz-linear-gradient(#e7c24c, rgba(0, 0, 0, 0)) 1 100%;    
  -o-border-image:
    -o-linear-gradient(#e7c24c, rgba(0, 0, 0, 0)) 1 100%;
  border-image:
    linear-gradient(to bottom, #e7c24c, rgba(0, 0, 0, 0)) 1 100%;
}

ul.nav li { 
  width: 70%;
  padding: 70px 0px 0px 60px; 
}
ul.nav li:nth-of-type(1) { margin-top: 5px; }
ul.nav li a {
  color: #e7c24c;
  font-size: 14px;
}
/*#catalog-link { border: 4px solid red; }*/
div .nav li #catalog-link:hover + div {
  opacity: 1;
}

.catalog-menu {
  position: absolute;
  top: 380px;
  left: 266px;
  width: 150px;
  height: auto;
  background-color: rgba(231, 194, 76, 0.8);
  color: #000;
  z-index: 10;
  opacity: 0;
}
.catalog-menu ul.nav {
  margin-top: -4px; 
  padding-top: 10px;
  width: inherit;
  height: inherit;
  border: none; 
  text-align: left;
}
.catalog-menu ul.nav li { padding: 5px 0px 5px 25px; }
.catalog-menu ul.nav li a {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  /*font-family: "Helvetica Neue", serif;*/
}

.animateIn {
  /*opacity: 0;*/
  animation: slideOut 1s forwards;
  -webkit-animation: slideOut 1s forwards;
}
.animateOut {
  opacity: 1;
  animation: slideIn 1s backwards;
  -webkit-animation: slideIn 1s backwards;
}

@keyframes slideOut {
  from{
    /*transform: rotateY(90deg) translateY(25%);*/
    opacity: 0;
  }
  to{
    /*transform: rotateY(0deg) translateY(0%);*/
    opacity: 1;
  }
}

@-webkit-keyframes slideOut {
  from{
   /*-webkit-transform: rotateY(90deg) translateY(25%);*/
    opacity: 0;
  }
  to{
    /*-webkit-transform: rotateY(0deg) translateY(0%);*/
    opacity: 1;
  }
}

@keyframes slideIn {
  from{
    /*transform: rotateY(90deg) translateY(25%);*/
    opacity: 1;
  }
  to{
    /*transform: rotateY(0deg) translateY(0%);*/
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  from{
   /*-webkit-transform: rotateY(90deg) translateY(25%);*/
    opacity: 1;
  }
  to{
    /*-webkit-transform: rotateY(0deg) translateY(0%);*/
    opacity: 0;
  }
}

/*//CAROUSEL\\*/

.carousel-container {
  position: absolute;
  margin-left: 33em;
  top: 988px;
  height: 100px;
}
#carousel {
  display: block;
  top: -688px;
  left: -262px;
  width: 910px;
  height: 650px;
  border: 4px solid #e7c24c;
  float: right;
}
#carousel .item{
  cursor:grab;
  cursor:-webkit-grab;
}

#carousel .item img {
  display: block;
  width: 100%;
  height: auto;
}

/* Styling Pagination*/
.owl-theme .owl-controls .owl-page span{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 100px;
  height: 5px;
  margin-left: 2px;
  margin-right: 2px;
  background: #ccc;
  border:none;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
  background: #e7c24c;
  margin-top: 60px;
}

.headline {
  position: absolute;
  left: 810px;
  bottom: 480px;
  width: 400px;
  height: auto;
  float: right;
  font-style: italic;
}

/*//PRODUCT DETAIL\\*/
.gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 610px;
  height: 450px;
  margin-bottom: 26px;
  border: 4px solid #e7c24c;
}
/*#gallery {
  display: block;
  top: -688px;
  left: -262px;
  width: 610px;
  height: 450px;
  border: 4px solid #e7c24c;
  float: right;
}
#gallery .item{
  cursor:grab;
  cursor:-webkit-grab;
}*/
/*.owl-item, */
.owl-item div img {
  width: 610px;
  height: 450px;
}

/*#gallery .item img {
  display: block;
  width: 100%;
  height: auto;
}*/

.product-carousel {
  float: left;
  width: 100%;
  overflow: hidden;
}
.product-carousel .video-wrap {
  padding-bottom: 66.667%;
}
.product-carousel .video-wrap .play-button {
  border: none;
}
.product-carousel ul {
  list-style: none;
  margin: 28px -67px 0px 5px; 
}
.product-carousel ul:after {
  content: ' ';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
}
.product-carousel li {
  float: left;
  width: 25%;
  margin-right: 1.5em;
  padding: 0.25em;
  cursor: pointer;
  border: 4px solid #e7c24c;
}
.product-carousel img {
  display: block;
  width: 100%;
}
li.keyboardable{
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
li.keyboardable:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 4px solid rgba(236, 252, 220, 1);
}
li.keyboardable img { background-color: #fff; }

.product-detail {
  position: absolute;
  top: 294px;
  left: 260px;
  width: 610px;
}

.product-name {
  position: relative;
  top: 70px;
  left: 46%;
  float: right;
  width: 40%;
  font-style: italic;
}
.product-name h1{
  font-size: 18px;
}
.product-name p {
  font-size: 14px;
  line-height: 18px;
}
.fabrics li { font-size: 14px; }

hr.product-rule {
  height: 2px;
  margin: 5px 0px 9px 0px;
}

ul.fabrics { list-style-type: circle; }
ul.fabrics li {
  margin-left: 20px;
  margin-top: 5px;
}

ul.fabrics a { margin-left: -8px; }


/******** Admin Login Styles ************/
a { text-decoration: none; color: inherit; }

#Form_Container {
  margin: 0 auto;
  margin-top: -40em;
  margin-bottom: 14em;
  padding-top: 3em; 
  padding-bottom: 3em; 
  width: 50%; 
  text-align: center;
}
#MemberLoginForm_LoginForm { 
  margin: 0 auto;
  color: #80878F;
  text-align: left;
  width: 30%; 
  min-width: 300px;  
}
#MemberLoginForm_LoginForm input[type="text"], 
#MemberLoginForm_LoginForm input[type="password"],
#MemberLoginForm_LoginForm input[type="submit"],
#MemberLoginForm_LoginForm label {
  border-radius: 0.25rem; 
  padding: 1rem;
} 
#MemberLoginForm_LoginForm input {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  background-color: #3b4148; 
  -webkit-transition: background-color .3s;
    transition: background-color .3s;
    width: 100%; 
}

#MemberLoginForm_LoginForm input[type="text"], 
#MemberLoginForm_LoginForm input[type="password"] {
  background-color: #3b4148; 
  border-bottom-left-radius: 0; 
  border-top-left-radius: 0;
  color: #80878F;
}

#MemberLoginForm_LoginForm input[type="text"] { color: #ebebeb; }
#MemberLoginForm_LoginForm input[type="text"]:focus,
#MemberLoginForm_LoginForm input[type="text"]:hover, 
#MemberLoginForm_LoginForm input[type="password"]:focus,
#MemberLoginForm_LoginForm input[type="password"]:hover {
  background-color: #434A52;
}

#MemberLoginForm_LoginForm input[type="submit"] {
  background-color: #e7c24c;
  color: #eee; 
  font-weight: bold; 
  text-transform: uppercase; 
  -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

#MemberLoginForm_LoginForm input[type="submit"]:hover {
  background-color: #453a16;
}

#MemberLoginForm_LoginForm label{
  display: block !imslideOutant;
}

.checkbox {
  margin-top: 2em; 
  margin-bottom: 2em; 
}

input.checkbox {
  width: 0% !imslideOutant; 
  display: inline-block; 
  float: left; 
}

label.right {
  padding: 0 !imslideOutant;
  float: left; 
  margin-left: 5%; 
}

#ForgotPassword { float: left; margin-top: 1em; }

/*//FOOTER\\*/
section.footer {
  display: block;
  margin: 150px auto 0px;
  color: #e7c24c;
  width: 80%;
  text-align: center;
}
section.footer p { 
  font-size: 12px; 
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

section.footer img {
  display: block;
  margin: 0 auto 15px;
  width: 6%;
  height: auto;
}

/*//Catalog\\*/
.catalog-page, 
.products-page {
  margin-left: 260px;
  margin-top: -660px;
  top: 100px;
  left: 100px;*/
  width: 70%;
  height: auto;
  /*text-align: center;*/
  /*background-color: #fff;*/
}
.catalog-page h1, 
.products-page h1 { text-align: center;  }

.catalog-page .tile,
.products-page .tile {
  width: 300px;
  margin-left: 30px;
  padding-bottom: 15px;
  float: left;
}
.catalog-page img, 
.products-page img {
  width: 300px;
  height: 200px;
  border: 4px solid #e7c24c;
}

/*//PRODUCTS PAGE\\*/

/*.products-page .tile {
  width: px;
  height: 100px;
  background-color: white;
}*/

.product-image {
  width: 300px;
  height: 200px;
}




/*//MEDIA PAGE\\*/
.media-container {
  position: absolute;
  top: 294px;
  left: 400px;
}
.video-frame {
  margin-bottom: 15px;
  border: 4px solid #e7c24c;
}
#bottom-frame { margin-bottom: 20px; }

/*//CONTACT PAGE\\*/
.contact-container {
  position: absolute;
  top: 324px;
  left: 570px;
  text-align: center;
}
.contact-container h1 {
  text-decoration: underline;
  padding-bottom: 10px;
}
.contact-container p {
  padding: 10px;
}

.mugshot {
  width: 300px;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 4px solid #e7c24c;
}

.menu-trigger { display:none; }


/*//MEDIA QUERRIES\\*/
  /*//tablet\\*/

@media screen and (max-width: 1024px){
  .headline { 
    top: 265px;
    left: 916px;
    width: 270px; 
    font-size: 18px;
  }

  section.footer { 
    display: none;  
  }
  #carousel {
    width: 610px;
    height: 436px;
  }
  .headline {
    left: 716px;
  }
  .media-container {
    left: 266px;
  }
  .contact-container {
    top: 254px;
    left: 476px;
  }
}

@media screen and (max-width: 400px) {
  html, body { overflow-x: hidden; }
  section.header { width: 100%; }
  section.header img {
    display: block;
    margin: 0 auto;
    padding: 30px 0px 0px 0px; 
  }
  
  /*//NAV-BUTTON\\*/
  .menu-trigger {
    display: block;
    margin-top: 4%;
    margin-bottom: 11%;
    padding-top: 5%;
    text-align: center;
    font-size: 115%;
  }


  #nav-icon {
    width: 30px;
    height: 45px;
    position: relative;
    margin: -14px auto;
    /*border: 1px solid #e7c24c;*/
    /*padding: 2px; */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #e7c24c;
    /*border-radius: 1px;*/
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 18px;
}

#nav-icon span:nth-child(4) {
  top: 36px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
  /*????????*/

  ul.nav li {
    display:block;
    width: 100%;
    padding: 4%;
    border-top: 1px solid #000; 
    color: black;
  }
  ul.nav li a p { 
    margin-left: -33px;
    color: black; 
  }
  ul.nav {
    display:none;
    width: 100%;
    margin-top: 0;
    margin-bottom: 14%;
    background-color: #e7c24c;
    height: auto;
    text-align: center;
  } 
  ul.nav li:nth-of-type(1) { margin-top: 0;  }

  .catalog-menu { display: none; }

  .carousel-container {
    position: static;
    width: 100%;
    /*margin-top: 14%;*/
  }
  #carousel {
    width: 99%;
    border: 1px solid #e7c24c;
    top: -14px;
    left: -530px;
    height: 265px;
  }
  .carousel-container .owl-theme .owl-controls {
      margin-top: -40px;
      text-align: center;
  }
  .headline { display: none; }

  section.footer { margin: 16% auto 0; }
  section.footer img { width: 15%; }

  .footer-nav a { display: none; }

  .media-container {
    position: static;
    width: 100%;
  }

  .video-frame iframe {
    width: 100%;
    height: 250px;
  }

  .contact-container {
    position: static;
  }
  .mugshot { margin: 10px auto 20px; }

  .catalog-page { margin: 0; }
  .catalog-page .tile { margin-left: 34px; }


}
